body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#welcome-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: bisque;

}

#navbar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    min-width: 270px;
    max-width: 290px;
    

}

#welcome-section p {
   
    font-size: 30px;
    
}

#welcome-section {
   padding-top: 15vh;
    

}

@media(max-width:800px) {
    #welcome-section p {
        font-size: 50px;
    }
}

.projects{
    display:grid;
    grid-template-columns: repeat(3,1fr);
}
