body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#welcome-section {
    height: 100vh;
    background-color: bisque;

}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;

}

#welcome-section p {
    font-size: 30px;
}

@media(max-width:800px) {
    #welcome-section p {
        font-size: 50px;
    }
}

.projects{
    display:grid;
    grid-template-columns: repeat(3,1fr);
}